NET "typeselect<0>" LOC = P123 | IOSTANDARD = LVTTL| PULLDOWN;
NET "typeselect<1>" LOC = P124 | IOSTANDARD = LVTTL| PULLDOWN;
NET "typeselect<2>" LOC = P126 | IOSTANDARD = LVTTL| PULLDOWN;
NET "typeselect<3>" LOC = P127 | IOSTANDARD = LVTTL| PULLDOWN;

NET "matrixselect<0>" LOC = P121 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<1>" LOC = P120 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<2>" LOC = P119 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<3>" LOC = P118 | IOSTANDARD = LVTTL| PULLDOWN;

NET "matrixselect<4>" LOC = P117 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<5>" LOC = P116 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<6>" LOC = P115 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<7>" LOC = P114 | IOSTANDARD = LVTTL| PULLDOWN;

NET "matrixselect<8>" LOC = P112 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<9>" LOC = P111 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<10>" LOC = P105 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<11>" LOC = P104 | IOSTANDARD = LVTTL| PULLDOWN;

NET "matrixselect<12>" LOC = P102 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<13>" LOC = P101 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<14>" LOC = P100 | IOSTANDARD = LVTTL| PULLDOWN;
NET "matrixselect<15>" LOC = P99 | IOSTANDARD = LVTTL| PULLDOWN;

NET "ledtype<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "ledtype<1>" LOC = P58 | IOSTANDARD = LVTTL;
NET "ledtype<2>" LOC = P66 | IOSTANDARD = LVTTL;
NET "ledtype<3>" LOC = P67 | IOSTANDARD = LVTTL;

NET "matrix<0>" LOC = P50 | IOSTANDARD = LVTTL;
NET "matrix<1>" LOC = P51 | IOSTANDARD = LVTTL;
NET "matrix<2>" LOC = P40 | IOSTANDARD = LVTTL;
NET "matrix<3>" LOC = P41 | IOSTANDARD = LVTTL;

NET "matrix<4>" LOC = P34 | IOSTANDARD = LVTTL;
NET "matrix<5>" LOC = P35 | IOSTANDARD = LVTTL;
NET "matrix<6>" LOC = P32 | IOSTANDARD = LVTTL;
NET "matrix<7>" LOC = P33 | IOSTANDARD = LVTTL;

NET "matrix<8>" LOC = P29 | IOSTANDARD = LVTTL;
NET "matrix<9>" LOC = P30 | IOSTANDARD = LVTTL;
NET "matrix<10>" LOC = P26 | IOSTANDARD = LVTTL;
NET "matrix<11>" LOC = P27 | IOSTANDARD = LVTTL;

NET "matrix<12>" LOC = P23 | IOSTANDARD = LVTTL;
NET "matrix<13>" LOC = P24 | IOSTANDARD = LVTTL;
NET "matrix<14>" LOC = P21 | IOSTANDARD = LVTTL;
NET "matrix<15>" LOC = P22 | IOSTANDARD = LVTTL;